/* Add styles for the Main Body */
body {
    font-size: 18px;
}
main {
    display: flex;
    justify-content: space-between;
}
/* Styles for the question and answer sections */
#questionSection {
    font-size: 25px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#answerSection {
    font-size: 25px;
    height: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    border: none;
    border-radius: 20%;
}
button:hover {
    background-color: gold;
}
button:active {
    box-shadow: 0 0 10px gray;
}

/* If we'll have a footer or results area, style them here */


/* Add styles for media query at different screen sizes */